@import './style.css';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider.ant-layout-sider {
  background-color: unset;
}
.ant-layout-header.ant-layout-header {
  color: black;
  /* background-color: grey; */
  background-color: whitesmoke;
}

/* body {
  padding: 2em;
} */

.game {
  min-width: 75vh;
  background-color: azure;
}

.container.is-3d {
  transform-style: preserve-3d;
  perspective: 731px;
}

.is-3d .africa-wrapper {
  /* transform: translate3d(1px, -89px, -254px) rotateX(33deg); */
  -webkit-animation:spin 1.5s linear forwards;
  -moz-animation:spin 1.5s linear forwards;
  animation:spin 1.5s linear forwards;
}

@keyframes spin {
  0% {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: translate3d(1px, -35px, -254px) rotateX(33deg);
  }
}