@import './style.css';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider.ant-layout-sider {
  background-color: unset;
}
.ant-layout-header.ant-layout-header {
  color: black;
  /* background-color: grey; */
  background-color: whitesmoke;
}

/* body {
  padding: 2em;
} */

.game {
  min-width: 75vh;
  background-color: azure;
}
